body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#imageInput {
    display: none;
}

#classifyButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#imagePreview {
    margin-top: 20px;
}

#selectedImage {
    max-width: 100%;
}

#results {
    margin-top: 20px;
}
